footer{
    height: 40px;
    background-color: black;
    padding-top: 10px;
}

.bottom{
    display: flex;
    justify-content: space-around;
    &_link{
        text-decoration: none;
        color: aliceblue;
        font-size: 10px;
        padding-top: 10px;
    }
}


