header{
    background-color: rgb(89, 35, 227);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.front{
    display:flex;
    justify-content: center;
    margin:auto;
    width:100%;
    margin-bottom: 10px;
    &_image{
        width:90%
    }
}

.navegador{
    display:flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
    &_link{
        text-align: center;
        text-decoration: none; 
        color: yellowgreen;      
        @include boxConfig (black, rgb(33, 37, 105));       
        padding: 12px;
        margin-right: 6px;
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /*width:10%  Para el responsive */
        
    }
      
}
@media (min-width: 768px) {
    .navegador{
        &_link{
            width:100px;
        }
    }
  }   
  @media (min-width: 1200px) {
    .navegador{
        &_link{
            width:200px;
        }
    }
  }
